.stage {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333;
    perspective: 1000px
}
.stage .cube {
    width: 200px;
    height: 200px;
    margin: 200px auto;
    transform-style: preserve-3d;
    animation: cube-rotate 10s linear infinite
}
.stage .cube .side {
    position: absolute;
    width: 200px;
    height: 200px;
    background: repeating-linear-gradient(to right, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 20px), repeating-linear-gradient(to bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, .5) 1px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 20px)
}
.stage .cube .side.left {
    transform: translateX(-100px) rotateY(90deg)
}
.stage .cube .side.right {
    transform: translateX(100px) rotateY(90deg)
}
.stage .cube .side.top {
    transform: translateY(-100px) rotateX(90deg)
}
.stage .cube .side.bottom {
    transform: translateY(100px) rotateX(90deg)
}
.stage .cube .side.back {
    transform: translateZ(-100px)
}
.stage .cube .side.front {
    transform: translateZ(100px)
}
@keyframes cube-rotate {
    20% {
        transform: rotate3d(1, 1, 1, 360deg)
    }
    20.001% {
        transform: rotate3d(0, 0, 0, 360deg)
    }
    40% {
        transform: rotate3d(1, -1, -.5, 360deg)
    }
    40.001% {
        transform: rotate3d(0, 0, 0, 360deg)
    }
    60% {
        transform: rotate3d(-.8, -.2, 1, 360deg)
    }
    60.001% {
        transform: rotate3d(0, 0, 0, 360deg)
    }
    80% {
        transform: rotate3d(.3, 1, -.6, 360deg)
    }
    80.001% {
        transform: rotate3d(0, 0, 0, 360deg)
    }
    100% {
        transform: rotate3d(-.5, 1, -.8, 360deg)
    }
}
